<h1>Torneos</h1>

<table class="table table-bordered">
	<tr>
		<th>Nombre Equipo</th>
		
	</tr>
	<% @equipos.each do | equipo | %>

	<tr>
		<td>
			<%= equipo.nombre_equipo %>
		</td>
	</tr>

  <% end %>

</table>
