<h1>Fixture</h1>

<table class="table table-bordered" style="width: 65%" border="1">
	<% @fechas.each do | fecha | %>
	<tr>
		<th>Fecha: <% fecha.numero %></th>	
	</tr>

	<tr>
		<% fecha.partidos.each do | partido | %>
				<tr>
					<td>
						<%= partido.equipo1 %>
					</td>
					<td>
						<%= partido.resultado1 %>
					</td>
					<td>
						<%= partido.resultado2 %>
					</td>
					<!--style="width: 130px"-->
					<td style="width: 245px">
					<%= partido.equipo2 %>
					</td>
				</tr>
		<% end %>
	</tr>

  <% end %>

</table>
