<h1>Cargar resultado</h1>
<% form_for(@partido, "/partido/update_crear/#{@partido.id}") do |f| %>

  <%= partial 'partido/form', :locals => { :f => f } %>

  <%= f.submit "Cargar", :class => "btn btn-primary" %>
  <%= link_to 'Cancelar', url_for(:fecha, :misFechas, :torneo_id => @partido.fecha.torneo.id), :class => "btn btn-secondary" %>
<% end %>
