<h1>Torneos</h1>

<table class="table table-bordered">
	<tr>
		<th>Nombre</th>
		<th>Cantidad de equipos</th>
		
	</tr>
	<% @torneo.each do | offer| %>

	<tr>
		<td>
			<%= torneo.nombre %>
		</td>
		<td>
			<%= torneo.cantEquipos %>
		</td>
		<!--<td>
			<%= link_to 'Cargar equipos', url_for(), :class => "btn btn-primary" %>
		</td> -->		
	</tr>

  <% end %>

</table>
